<%= render "shared/header" %>

<div class="contents">

  <div class="content">
    <div class="upper-content">
      <div class="content-user">
        太郎
      </div>
    </div>
    <div class="lower-content">
      <div class="content-tweet">
        おはよう
      </div>
      <div class="content-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
  </div>

</div>


<%= render "shared/footer" %>
