.search-form {
  margin: 10px 250px 0 400px;
}

.search-input {
  width: 500px;
  padding: 12px;
  border-radius: 6px;
  color: #ddd;
}

.search-btn {
  width: 100px;
  padding: 12px;
  border-radius: 6px;
  background: linear-gradient(to bottom,#ffffff,#1048e4);
  color:rgb(31, 29, 29);
}