.tweet-list1 {
  margin: 30px 0 0 0;
  position: relative;
}

.tweet-destroy {
  background: linear-gradient(to bottom,#ffffff,#a2a3a3);
  font-size: 24px;
  color: black;
  padding: 2vh 10vw;
  margin: 0 510px 0;
  display: block;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
}

.tweet-blue-btn {
  background: linear-gradient(to bottom,#97a0f1,#1048e4);
  font-size: 24px;
  color: rgb(255, 255, 255);
  padding: 2vh 10vw;
  margin: 0 510px 20px;
  display: block;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
}

.user-introduction p {
  color: gray;
  font-size: 15px;
}