// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップページ

.contents {
  min-height: 100vh;
}

.tweet-lists {
  margin: 0 160px 0 400px;
  overflow: scroll;
}

.tweet-list {
  margin: 30px 0 0 0;
  position: relative;
  border-bottom: 1px solid #afafaf;
  
}

.upper-content {
  display: flex;
  
}

.content-user {
  color: rgb(105, 105, 105);
  font-size: 25px;
  margin-top: 10px;
}

.lower-content {
  margin-top: 20px;
}

.content-tweet {
  color: rgb(105, 105, 105);
  font-size: 18px;
}

.content-date {
  color: #999;
  font-size: 15px;
  padding-left: 20px;
  margin-top: 13px;
}

.margin {
  height: 20px;
}

.no-underline {
  text-decoration: none !important;
}

.user-image1 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 5px;
  background-color: rgb(206, 206, 206);
}

.user-avatar1 {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

