// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.information {
  width: 70vw;
  display: flex;
  margin: 5px 30px 5px 400px;
}

.user-image {
  width: 120px;
  height: 120px;
  border-radius: 65px;
  margin-right: 5px;
  background-color: rgb(206, 206, 206);
}

.user-avatar {
  width: 120px;
  height: 120px;
  border-radius: 65px;
}

.user-nickname {
  font-size: 30px;
  margin: 40px 0 0 5px;
  height: 40px;
  
}

.user-introduction {
  font-size: 20px;
  margin: 0 160px 0 400px;
}

.change {
  text-decoration: none;
  color: rgb(27, 116, 199);
  border: 2px solid rgb(27, 116, 199);
  padding: 7px 20px 0;
  border-radius: 55px;
  margin-left: 600px;
  font-size: 20px;
  height: 50px;
}

.change p {
  height: 10px;
}

.form-edit {
  margin-bottom: 22px;
}

.form-edit input[type="text"] {
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  padding: 0 7px;
  background-color: #ffffff;
}

.form-introduction {
  width: 350px;
  height: 300px;
}

.input-default {
  width: 350px;
  height: 240px;
}